body{
    display: flex;
    justify-content: center;
}
.box{
    margin-top: 4%;
    width: 75%;
    display: flex;
    justify-content: space-between;
}
table{
    padding: 50px;
    border: 2px solid black;
    margin-left: 10%;
}
.table1{
    margin-left: 0%;
}